.project {
    cursor: pointer;
    list-style: none;
    padding: 1rem;
    background: #fff;
    transition: box-shadow .2s;
    min-height: 50px;
    position: relative;
    margin-bottom: 24px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 0 0 10px #b7c0ce33;
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2);
}